---
import Input from '@components/general/Input.astro'
---

<section class='flex flex-col gap-y-10'>
  <div>
    <h2 class='text-3xl font-medium mb-2'>Title</h2>
    <div class='flex gap-6'>
      <Input
        type='text'
        id='introduction-title-auto'
        value='Soy un.. '
        className='w-40'
      />

      <Input
        type='text'
        id='introduction-title'
        placeholder='Name'
      />
    </div>
  </div>

  <div>
    <h2 class='text-3xl font-medium mb-2'>Subtitle</h2>
    <div class='flex gap-6'>
      <Input
        type='text'
        id='introduction-subtitle'
        placeholder='A sort description'
      />
    </div>
  </div>
</section>
