---
import Title from '@components/sections/Title.astro'
import Layout from '../layouts/Layout.astro'
import Subtitle from '@components/sections/Subtitle.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='flex flex-col gap-y-6'>
    <Title />
    <Subtitle />
  </main>
</Layout>
