---

---

<header class='flex flex-col items-center'>
  <h1>READMEGOD</h1>
  <h3>Generador de readmes para GitHub</h3>
  <p>
    Esta es copia del proyecto de <span>rahuldkjain</span> la cual esta echa con
    el fin de mejorar mis habilidades en la programación con Astro, todos los créditos
    para él.
  </p>
</header>
