---
import Link from '@components/general/Link.astro'
---

<header class='flex flex-col items-center gap-y-1 text-center'>
  <h1 class='text-3xl font-semibold'>READMEGOD</h1>
  <h3>Generador de readmes para GitHub</h3>
  <p class='max-w-[700px] text-red-500 mb-2'>
    Esta pagina es copia una del proyecto de <span class='font-semibold'>rahuldkjain</span>
    la cual esta echa con el fin de mejorar mis habilidades en la programación con
    Astro, todos los créditos para él <a
      href='https://rahuldkjain.github.io/gh-profile-readme-generator/'
      class='text-blue-600'
      target='_blank'
      rel='noopener noreferrer'
      >Click My</a
    >
  </p>

  <nav>
    <Link />
  </nav>
</header>
